.current {
    color: blue;
    pointer-events: none;
}
.disabled {
    color: #a5a5a5;
    pointer-events: none;
}

.pagination-wrapper {
    text-align: center;
    padding: 4px 10px 46px 10px;
}
.pagination-wrapper .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.pagination-wrapper .inner span:first-child {
    margin-right: 17px;
}
.pagination-wrapper .inner span:last-child {
    margin-left: 17px;
}
.pagination-wrapper .inner span {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
}

@media(max-width: 400px) {
    .pagination-wrapper .inner span:first-child,
    .pagination-wrapper .inner span:last-child{
        margin-right: 0;
    }
}